<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-8 mx-auto order-0">
            <h1>Edit your comment</h1>
            
            <form  action="/campgrounds/<%= campgroundId %>/comments/<%= comment._id %>?_method=put" method="post">
                <div class="form-group">
                    <input class="form-control" type="text"  name="text" value="<%= comment.text %>">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Update comment</button>
                </div>
                
                
            </form>
            
            <a href="/campgrounds/<%= campgroundId %>">Go back view the last campground</a>
        </div>
    </div>    
</div>

<% include ../partials/footer %>